.enquiry-list{
    background:#fff;
    padding:25px;
    border-radius:15px;
}

.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.count{
    background:#C98F7B;
    color:#fff;
    padding:8px 15px;
    border-radius:30px;
}

.search-box{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:8px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,
td{
    padding:15px;
    border-bottom:1px solid #eee;
    text-align:left;
}

.badge{
    padding:5px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.new{
    background:#DCFCE7;
    color:#166534;
}

.read{
    background:#DBEAFE;
    color:#1E40AF;
}

.view-btn{
    color:#2563EB;
    text-decoration:none;
    font-weight:600;
    margin-right:15px;
}

.delete-btn{
    background:none;
    border:none;
    color:#DC2626;
    cursor:pointer;
    font-weight:600;
}

.view-btn:hover,
.delete-btn:hover{
    text-decoration:underline;
}