.whatsapp {
  position: fixed;
  right: 25px;
  bottom: 25px;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  background: #25d366;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;

  text-decoration: none;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

  z-index: 999;

  transition: 0.3s;
}

.whatsapp:hover {
  transform: scale(1.08);
}

.top {
  position: fixed;

  right: 25px;

  bottom: 100px;

  width: 50px;

  height: 50px;

  border: none;

  border-radius: 50%;

  background: #c98f7b;

  color: white;

  font-size: 24px;

  cursor: pointer;

  box-shadow: 0 12px 30px rgba(201, 143, 123, 0.35);

  z-index: 999;

  transition: 0.35s ease;
}

.top:hover {
  transform: translateY(-6px) scale(1.08);
  background: #d8a18e;
  box-shadow: 0 20px 40px rgba(201, 143, 123, 0.45);
}
