.image-upload{
    width:100%;
}

.upload-box{
    width:100%;
    min-height:250px;

    border:2px dashed #C98F7B;

    border-radius:16px;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    cursor:pointer;

    overflow:hidden;

    background:#fafafa;

    transition:.3s;
}

.upload-box:hover{
    background:#fff5f2;
}

.upload-box img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.uploading{
    margin-top:15px;
    color:#C98F7B;
    font-weight:600;
}