.card {
  overflow: hidden;
  border-radius: 24px;
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,.05);
}

.image {
  aspect-ratio: 4/5;
}

.content {
  padding: 24px;
}

.image,
.line,
.lineSmall,
.button {

  background:
    linear-gradient(
      90deg,
      #f4f4f4 25%,
      #ececec 50%,
      #f4f4f4 75%
    );

  background-size: 300% 100%;

  animation: shimmer 1.4s infinite;
}

.lineSmall {
  width: 40%;
  height: 14px;
  margin-bottom: 18px;
  border-radius: 10px;
}

.line {
  width: 80%;
  height: 24px;
  margin-bottom: 28px;
  border-radius: 10px;
}

.button {
  width: 140px;
  height: 42px;
  border-radius: 40px;
}

@keyframes shimmer {

0%{
background-position:200% 0;
}

100%{
background-position:-200% 0;
}

}